* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item {
    color: #F37A1F !important;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar-brand {
    font-family: 'Sofia', sans-serif;
}

.nav-item:hover {
    text-decoration: none;
    color: white !important;
    background-color: #F37A1F;
    padding: 8px;
    border-radius: 20px;
}

.home {
    position: relative;
    top: 3rem;
}

.cost {
    border: 2px solid #F37A1F;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3rem;
}

.cost li {
    color: white;
}

.account {
    border: 2px solid #FFCD84;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 3rem;
    justify-content: center;
}

.account li {
    color: white;
}

#aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about {
    position: relative;
    top: 20px;
}

#product{
    position: relative;
    top: 40px;
    background-color: #FFE4BC;
    padding: 20px;
}

table{
    position: relative;
    top: 10px;
}

#contact{
    position: relative;
    top: 50px;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    left: 190vh;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-image: url(assets/images/5229139.png);
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
    width: 50px;
    height: 50px;
  }
  
  #myBtn:hover{
    background-color: #FFE4BC;
  }




.button
{
    display: inline-block;
    background: #F37A1F;
    border-radius: 5px;
    height: 48px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.button a
{
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    color: #FFFFFF;
    padding-left: 35px;
    padding-right: 35px;
}
.button:hover
{
    opacity: 0.8;
}

.contact_info
{
    width: 100%;
    padding-top: 70px;
}
.contact_info_item
{
    width: calc((100% - 60px) / 3);
    height: 100px;
    border: solid 1px #e8e8e8;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    padding-left: 32px;
    padding-right: 15px;
}
.contact_info_image
{
    width: 35px;
    height: 35px;
    text-align: center;
}
.contact_info_image img
{
    max-width: 100%;
}
.contact_info_content
{
    padding-left: 17px;
}
.contact_info_title
{
    font-weight: 500;
}
.contact_info_text
{
    font-size: 12px;
    color: rgba(0,0,0,0.5);
}


.contact_form
{
    padding-top: 85px;
}

.contact_form_title
{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 37px;
}
.contact_form_inputs
{
    margin-bottom: 30px;
}
.input_field
{
    width: calc((100% - 60px) / 3);
    height: 50px;
    padding-left: 25px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    outline: none;
    color: #F37A1F;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.input_field:focus,
.text_field:focus
{
    border-color: #b2b2b2;
}
.input_field:hover,
.text_field:hover
{
    border-color: #b2b2b2;
}
.input_field::-webkit-input-placeholder,
.text_field::-webkit-input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field:-moz-placeholder,
.text_field:-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field::-moz-placeholder,
.text_field::-moz-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
} 
.input_field:-ms-input-placeholder,
.text_field:-ms-input-placeholder
{ 
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.input_field::input-placeholder,
.text_field::input-placeholder
{
    font-size: 16px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
}
.text_field
{
    width: 100%;
    height: 160px;
    padding-left: 25px;
    padding-top: 15px;
    border: solid 1px #e5e5e5;
    border-radius: 5px;
    color: #F37A1F;
    outline: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.contact_submit_button
{
    padding-left: 35px;
    padding-right: 35px;
    color: #FFFFFF;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 24px;
}
.contact_form_title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-decoration: underline #F37A1F;
    
}

.contact_info_item:hover{
    background-color: #F37A1F;
    color: #ffffff;
}

footer {
    height: 150px;
    background: #FFE4BC;
    color: #FFFFFF;
    opacity: .5;
    position: relative;
    top: 220px;
    padding-bottom: 20px;
  }
  
  .socialLinks{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
  
  .socialLinks a{
    color: #000;
  }

  footer h2{
    font-family: 'Trirong', serif;
    font-size: 15px;
    color: #000;
     text-align: center;
     padding-top: 20px;
  }

@media only screen and (max-width: 991px)
{
    
    .contact_info_item
    {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact_info_item:last-child
    {
        margin-bottom: 0px;
    }
    
}

@media only screen and (max-width: 767px)
{
    
    .input_field
    {
        margin-bottom: 30px;
        width: 100%;
    }
    .input_field:last-child
    {
        margin-bottom: 0px;
    }
}


@media only screen and (max-width: 575px)
{
    
    .contact_submit_button
    {
        font-size: 13px;
        padding-left: 25px;
        padding-right: 25px;
    }
    
}


@media screen and (max-width: 480px) {
    .home p {


        font-size: 20px;
    }

    h1 {
        font-size: 45px;
    }

    #container {
        display: flex;
        flex-direction: column !important;
        align-items: center;
        row-gap: 20px;
    }

    #aboutContainer {
        display: flex;
        flex-direction: column-reverse !important;
        align-items: center;
        row-gap: 25px;
        position: relative;
        top: 25px;
    }

    #aboutContainer p{
        width: 300px !important;
    }

    #background {
        height: 110vh !important;
    }

    #product{
        position: relative;
        top: 50px;
    }

    
}